@import '../fonts/style.css';
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
}

.menu_bar {
  height: 80px;
  display: flex;
}

.logo, .akaphone {
  margin-top: 17px;
}

.aka {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(47, 96, 221, 0.95);
  margin-left: 10px;
}

.po {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #333333;
  margin-left: 10px;
}

.menu {
  width: 57.5%;
}
.menu ul {
  display: flex;
  margin-left: 194px;
}
.menu ul li {
  list-style: none;
  margin-right: 25px;
  margin-top: 34px;
}
.menu ul li a {
  text-decoration: none;
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #333333;
}

.contact {
  margin-top: 10px;
}

.number {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-align: center;
}

.zakaz {
  width: 170px;
  padding: 9px 22px;
  border: 2px solid #eb4d4d;
}
.zakaz a {
  text-decoration: none;
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #EB4D4D;
}

.telegram {
  height: 80px;
  width: 70px;
  margin-left: 30px;
  background-color: #31a9dd;
  text-align: center;
}

.fab {
  color: #fff;
  font-size: 40px;
  margin-top: 20px;
}

.top {
  display: flex;
  height: 672px;
}

.text {
  margin-top: 129px;
}

.smart {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #333333;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.magazin {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  color: #333333;
  margin-top: 30px;
  width: 451px;
}

.catalog {
  width: 275px;
  height: 60px;
  background-color: #eb4d4d;
  text-align: center;
  margin-top: 30px;
}

.show_catalog {
  padding-top: 17px;
}
.show_catalog a {
  text-decoration: none;
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 164.4%;
  text-align: justify;
  color: #FFFFFF;
}

.watches {
  position: absolute;
  right: -215px;
  margin-top: 44px;
}

.rectangle {
  position: relative;
  z-index: 1;
}

.watch {
  position: absolute;
  z-index: 3;
  left: -72px;
  top: 34px;
}

.boxes {
  display: flex;
  margin-top: 32px;
}

.box {
  height: 10px;
  width: 50px;
  background-color: #c4c4c4;
  margin-right: 15px;
}

.bottom {
  height: 750px;
  width: 100%;
  background-color: #efefef;
}

.nedelyu {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  color: #333333;
  padding-top: 50px;
  margin-bottom: 50px;
}

.phones {
  display: flex;
  height: 100%;
  width: 100%;
}

.phone {
  width: 24%;
  height: 468px;
  background-color: #fff;
  margin-right: 30px;
  position: relative;
}

.pic {
  width: 100%;
}

.left {
  position: absolute;
  margin-top: 218px;
  left: -71px;
}

.right {
  position: absolute;
  margin-top: 218px;
  right: -50px;
}

.name {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  margin-top: 20px;
  margin-left: 20px;
}

.colors {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(176, 176, 176, 0.99);
  margin-top: 6px;
  margin-left: 30px;
}

.prices {
  display: flex;
}

.price_1 {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #eb4d4d;
  margin-left: 20px;
  margin-top: 12px;
}

.price_2 {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: line-through;
  color: rgba(196, 196, 196, 0.5);
  margin-left: 37.25px;
  margin-top: 17px;
}

.buy {
  height: 50px;
  width: 100%;
  background-color: #eb4d4d;
  border: none;
  position: absolute;
  margin-top: 14px;
  bottom: 0;
}
.buy a {
  text-decoration: none;
  display: block;
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 25px #FFFFFF;
}

.line {
  width: 100%;
  height: 8px;
  background-color: rgba(46, 92, 212, 0.3);
  margin-top: 73px;
  position: relative;
}

.inline {
  position: absolute;
  width: 120px;
  height: 14px;
  margin-left: 149px;
  background-color: rgba(46, 93, 213, 0.8);
  top: -3px;
}

@media (max-width: 480px) {
  header .container {
    width: 300px;
    margin: 0 auto;
  }

  main .container {
    width: 300px;
    margin: 0 auto;
  }

  section .container {
    width: 300px;
    margin: 0 auto;
  }

  header .menu_bar {
    width: 300px;
  }

  header .menu_bar .menu, .contact, .telegram {
    display: none;
    /* overflow: hidden; */
  }

  main {
    height: 670px;
  }

  main .top {
    display: block;
    height: 670px;
  }

  .top .watches {
    position: none;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .top .watch {
    width: 308px;
    left: 0;
    margin-top: 11px;
  }

  .top .rectangle {
    position: relative;
    width: 320px;
    height: 350px;
  }

  .top .watches .boxes {
    position: absolute;
    margin-top: 0;
    top: 319px;
    z-index: 3;
    margin-left: 15px;
  }

  .top .watches .boxes .box {
    background-color: #fff;
  }

  .top .watches .boxes .box_1 {
    background-color: #333333;
  }

  .top .text {
    margin-left: 15px;
    margin-top: 40px;
  }

  .top .smart {
    font-family: "Montserrat Regular";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    text-align: justify;
    color: #333333;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .top .magazin {
    font-size: 14px;
    line-height: 164.4%;
    color: #333333;
    margin-right: 16px;
    width: 300px;
  }

  section .nedelyu {
    margin-left: 14px;
  }

  section .phones {
    margin-left: 15px;
    width: 100%;
  }

  section .phones .phone {
    width: 100%;
  }

  section .phones .phone_1 {
    display: none;
  }

  section .phones .left, .right {
    display: none;
  }

  section .line {
    width: 292px;
    margin-left: 14px;
  }

  section .line .inline {
    width: 77px;
    margin-left: 117px;
  }

  .much .container {
    width: 300px;
  }

  .much .spets {
    width: 170px;
  }

  .much .lenovo {
    display: none;
  }

  .products_1 {
    display: none;
  }
}
.spets {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  color: #333333;
  margin-top: 48px;
  margin-bottom: 48px;
}

.lenovo {
  width: 546px;
  height: 194px;
  background: linear-gradient(90deg, #31A9DD, #0B84B9);
  padding: 13px;
  display: flex;
}

.l340 {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
  margin-left: 17px;
}

.laptop_prices {
  display: flex;
  margin-top: 22px;
}

.laptop_price {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-left: 130px;
}

.laptop_price_2 {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: line-through;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 20px;
}

.kupit {
  height: 50px;
  width: 160px;
  border: 1px solid #fff;
  margin-left: 152px;
  margin-top: 52px;
}

.kupi {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 37px;
  padding-top: 13px;
  display: block;
}

.product_1_bottom {
  display: flex;
}

.products {
  display: flex;
}

.hyperx {
  height: 220px;
  width: 270px;
  background: linear-gradient(90deg, #E16740, #BE2121);
  margin-top: 30px;
  position: relative;
}

.hypertext {
  width: 86px;
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  padding: 15px;
}

.hyper_prices {
  display: flex;
  margin-left: 15px;
}

.hyper_price {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.hyper_price_2 {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: line-through;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 20px;
}

.headphone {
  position: absolute;
  right: 0;
  top: -19px;
}

.kupit_2 {
  height: 50px;
  width: 160px;
  border: 1px solid #fff;
  margin-left: 95px;
  margin-top: 20px;
}

.mi_band_3 {
  height: 220px;
  width: 270px;
  background: linear-gradient(90deg, #398178, #15A299);
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}

.mi_band_3_text {
  width: 116px;
  padding: 15px;
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.mi_prices {
  display: flex;
  margin-left: 15px;
  margin-top: 27px;
}

.mi {
  position: absolute;
  right: 0;
  top: -23px;
}

.products_2 {
  width: 270px;
  height: 470px;
  background: linear-gradient(180deg, #5AC651, #ECDB41);
  margin-left: 30px;
}

.kreslo {
  position: relative;
  margin-top: 15px;
  margin-right: 23px;
}

.kreslo_text {
  position: absolute;
  right: 0;
  width: 211px;
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  text-align: right;
  color: #FFFFFF;
}

.kreslo_prices {
  display: flex;
  margin-top: 89px;
  margin-left: 70.5px;
}

.kreslo_img {
  margin-top: 22px;
}

.kupit_kreslo {
  background-color: #fff;
  height: 50px;
  width: 160px;
  margin-left: 90px;
  margin-top: 22px;
}

.kupi_2 {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
  margin-left: 37px;
  padding-top: 13px;
  display: block;
}

.galaxy_tab {
  height: 220px;
  width: 270px;
  background: linear-gradient(90deg, #394081, #8967D2);
  margin-left: 30px;
}

.galaxy_tab_s6 {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  width: 86px;
  margin-left: 15px;
  padding-top: 15px;
}

.products_3 {
  position: relative;
}

.galaxy_prices {
  margin: 15px;
}

.hyper_price_2_2 {
  margin-left: 0;
}

.galaxy {
  right: 30px;
  top: -26px;
  position: absolute;
}

.holitic {
  width: 270px;
  height: 220px;
  background: linear-gradient(90deg, #81396C, #0D9DA6);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}

.holitic_text {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  width: 91px;
  padding: 15px;
}

.holitic_prices {
  margin: 15px;
}

.holitic_price_1 {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.holitic_price_2 {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: line-through;
  color: rgba(255, 255, 255, 0.5);
}

.book {
  position: absolute;
  top: -27px;
  right: -30px;
}

.catalog_bottom {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  color: #333333;
  margin-top: 80px;
  margin-bottom: 50px;
}

.phones_catalog {
  display: flex;
}

.phones_catalog_2 {
  display: flex;
  margin-top: 30px;
  margin-bottom: 70px;
}

footer {
  background: #062B40;
  height: 300px;
}

.flexes {
  display: flex;
}

.logo_footer {
  display: inline-block;
  margin-top: 71px;
  text-align: center;
}

.footer_photo {
  position: relative;
  height: 70px;
  width: 70px;
  margin-left: 80px;
}

.akaPhone {
  position: absolute;
  left: 13px;
  top: 14px;
}

.logo_footer_text_1 {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 15px;
}

.logo_footer_text_2 {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 9px;
}

.onas {
  margin-top: 54px;
  margin-left: 64px;
}
.onas li {
  list-style: none;
}
.onas li a {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
}

.smartphone {
  margin-top: 54px;
  margin-left: 32px;
}
.smartphone li {
  list-style: none;
}
.smartphone li a {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
}

.karta {
  height: 191px;
  width: 370px;
  background: #C4C4C4;
  margin-top: 54px;
  margin-left: 41px;
}

.yandex {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-top: 78px;
}

.info_footer {
  width: 165px;
  margin-top: 54px;
  margin-left: 37px;
  position: relative;
}

.nashtele {
  position: absolute;
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #DFDFDF;
  right: 0;
}

.nomer {
  position: absolute;
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  right: 0;
  top: 20px;
}

.nashemail {
  position: absolute;
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #DFDFDF;
  right: 0;
  top: 51px;
}

.email {
  position: absolute;
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  right: 0;
  top: 70px;
}

.nashadres {
  position: absolute;
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #DFDFDF;
  right: 0;
  top: 101px;
}

.adres {
  position: absolute;
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  right: 0;
  top: 120px;
}

.social {
  display: flex;
  right: 0;
  position: absolute;
}

.face {
  position: relative;
  margin-top: 160px;
}

.telegramma {
  margin-top: 160px;
  margin-left: 15px;
}

.instagramm {
  margin-top: 160px;
  margin-left: 15px;
}

/*# sourceMappingURL=style.css.map */
