


.spets{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    color: #333333;
    margin-top:48px;
    margin-bottom:48px;
}

.lenovo{
    width:546px;
    height:194px;
    background:linear-gradient(90deg, #31A9DD , #0B84B9 );
    padding:13px;
    display: flex;
}

.l340{
    font-family:'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    margin-left:17px;
}

.laptop_prices{
    display:flex;
    margin-top:22px;
}
.laptop_price{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left:130px;
}

.laptop_price_2{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: rgba(255, 255, 255, 0.5);
    margin-left:20px;
}


.kupit{
    height:50px;
    width:160px;
    border:1px solid #fff;
    margin-left:152px;
    margin-top:52px;
}
.kupi{
    font-family:  'Montserrat Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-left:37px;
    padding-top:13px;
    display:block;
}

.product_1_bottom
{
    display:flex;
}
.products{
    display:flex;
}
.products_1{
    display:flex;
    flex-wrap: wrap;
}
.hyperx{
    height:220px;
    width:270px;
    background: linear-gradient(90deg, #E16740 , #BE2121 );
    margin-top:30px;
    position: relative;
}

.hypertext{
    width:86px;
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;    
    color: #FFFFFF;
    padding:15px;
}

.hyper_prices{
    display:flex;
    margin-left:15px;    
}

.hyper_price{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.hyper_price_2{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: rgba(255, 255, 255, 0.5);
    margin-left:20px;
}
.headphone{
    position: absolute;
    right:0;
    top:-19px;
}

.kupit_2{
    height:50px;
    width:160px;
    border:1px solid #fff;
    margin-left:95px;
    margin-top:20px;
}

.mi_band_3{
    height:220px;
    width:270px;
    background: linear-gradient(90deg, #398178 , #15A299 );
    margin-top:30px;
    margin-left:30px;
    position: relative;
}

.mi_band_3_text{
    width:116px;
    padding:15px;
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.mi_prices{
    display: flex;
    margin-left:15px;
    margin-top:27px;
}
.mi{
    position: absolute;
    right:0;
    top:-23px;
}

.products_2{
    width:270px;
    height:470px;
    background: linear-gradient(180deg, #5AC651 , #ECDB41 );
    margin-left:10px;
    display:flex;
    flex-wrap: wrap;

}
.kreslo{
    position: relative;
    margin-top:15px;
    margin-right:23px;
}
.kreslo_text{
    position: absolute;
    right:-227px;
    width:211px;
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    text-align: right;
    color: #FFFFFF; 
    z-index: 2;   
}

.kreslo_prices{
    display:flex;
    margin-top:89px;
    margin-left:70.5px;
 }

.kreslo_img{
    margin-top:22px;
    height:180px;
}
.kupit_kreslo{
    background-color: #fff;
    height:50px;
    width:160px;
    margin-left:90px;
    margin-top:22px;
    margin-right:15px;
}
.kupi_2{
        font-family:  'Montserrat Regular';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #333333;
        text-decoration: none;
        margin-left:37px;
        padding-top:13px;
        display:block;
}

.galaxy_tab{
    height:220px;
    width:270px;
    background: linear-gradient(90deg, #394081 , #8967D2 );
    margin-left:30px;
}

.galaxy_tab_s6{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    width:86px;
    margin-left:15px;
    padding-top:15px;
}


.products_3{
    position: relative;
    display:flex;
    flex-wrap: wrap;
}
.galaxy_prices{
    margin:15px;
}


.hyper_price_2_2{
    margin-left:0;
}

.galaxy{
    right:30px;
    top:-26px;
    position:absolute;
}

.holitic{
    width:270px;
    height:220px;
    background: linear-gradient(90deg, #81396C , #0D9DA6 );
    margin-left:30px;
    margin-top:30px;
    position: relative;
}


.holitic_text{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    width:91px;
    padding:15px;
}

.holitic_prices{
    margin:15px;
}
.holitic_price_1{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.holitic_price_2{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: rgba(255, 255, 255, 0.5);
}

.book{
    position: absolute;
    top:-27px;
    right:-30px;
}

.catalog_bottom{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    color: #333333;
    margin-top:80px;
    margin-bottom:50px;
}

.phones_catalog{
    display:flex;
}


.phones_catalog_2{
    display:flex;
    margin-top:30px;
    margin-bottom:70px;
}

