@media (max-width: 480px){
    header .container{
        width:300px;
        margin:0 auto;
       
    }
    main .container
    {
        width:300px;
        margin:0 auto;
       
    }
    section .container
    {
        width:300px;
        margin:0 auto;
       
    }
    footer .container{
        width:300px;
        margin:0 auto;
    }
    footer{
        height:618px;
    }
    header .menu_bar{
        width:300px;
    }
    header .menu_bar .menu , .contact , .telegram{
        display:none;
        /* overflow: hidden; */
    }
    main{
        height:670px;
    }
    main .top{
        display: block;
        height:670px;
    }
    .top .watches{
            position: none;
            left:0;
            bottom:0;
            right:0;
    }
    .top .watch{
        width:308px;
        left:0;
        margin-top:11px;
    }
    .top .rectangle{
        position: relative;
        width:320px;
        height:350px;
    }
    .top .watches .boxes{
        position: absolute;
        margin-top:0;
        top:319px;
        z-index: 3;
        margin-left:15px;
    }
   
    .top .watches .boxes .box{
        background-color: #fff;
    }
    .top .watches .boxes .box_1{
        background-color:#333333;
    }
    
    
    .top .text{
        margin-left:15px;
        margin-top:40px;

    }
    .top .smart{
        font-family: 'Montserrat Regular';
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
        text-align: justify;
        color: #333333;        
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .top .magazin{
        font-size: 14px;
        line-height: 164.4%;
        color: #333333;
        margin-right:16px;
        width:300px;    
    }
  
    section .nedelyu{
        margin-left:14px;
    }
    section .phones {
      margin-left:15px;
      width:100%;
   } 
   section .phones .phone{
       width:100%;
   }
    
    section .phones .phone_1{
        display: none;
   } 
   section .phones .left , .right{
       display: none;
   }
   section .line{
       width:292px;
       margin-left:14px;
   }
   section .line .inline{
       width:77px;
       margin-left:117px;   
   }

   .much .container{
       width:300px;
   }

   .much .spets{
       width:170px;
   }

   .much .lenovo{
       display: none;
   }
   .products{       
       flex-wrap: wrap;
   }
   .products_2{
        order:2;
   }
   .products_3{
       order:1;
   }

   .product_1_bottom{
       flex-wrap: wrap;
    }
   .product_1_bottom .mi_band_3{
       margin-left: 0;
       margin-top: 30px;
       order:1;
     
   }
   .products .products_2{
       margin-left:0;
       margin-top: 30px;
   }

   .products_3 .galaxy_tab{
       margin-left:0;
       margin-top: 30px;
       order:1;
   }
   .products_3 .galaxy_tab .galaxy{
       top:260px;
       right:60px;
   }
   .products_3 .holitic{
       margin-left:0;
       margin-top: 30px;
   }

   .kreslo{
       position: none;
   }
   .products_2 .kreslo_text{
       margin-left:50px;
       position: none;
       
   }

   .phones_catalog{
       flex-wrap: wrap;
   }
   .phones_catalog .phone{
       width:100%;
       margin-bottom: 30px; 
   }
   .phones_catalog .last_phone{
       display: none;
   }
   .phones_catalog_2 .phone{      
       display:none;  
           
   }

 
   footer .flexes{
       flex-wrap: wrap;
   }
   footer .lists{
       width:180px;
       flex-wrap: wrap;
   }

   footer .flexes .flexes_1 .lists .onas {
       margin-left: 20px;
       a{
        line-height: 25px;
       }
      
   }
   footer .flexes .flexes_1 .lists .smartphone{
    margin-left: 20px;
    margin-top:0;
    a{
        line-height: 25px;
    }
    
   }
   footer .logo_footer{
       text-align: left;
       padding-left:16px ;
       width:150px;
   }
   footer .footer_photo{
       margin-left:3px;
   }

   footer .karta{
       height:150px;
       margin-top:25px;  
       width:100%;
       margin-left: 0;
       margin-bottom: 0;
   }

   footer .info_footer{
    width:100%;
    margin-top: 40px;
    margin-left: 0px;
    position: relative;
}

  footer .tel_email{
      display: flex;
      width:100%;
  }

  footer .nomer_123{
      position: relative;
      width:50%;
      margin-right:10px;
      height:70px;
  }
  footer .nashtele{
      width:72px;
      font-size: 10px;
      left:0;
  }
  footer .nomer{
      width:119px;
      font-size: 13px;
      position: absolute;
      left:0;
  }

  footer .email_com{
      position: relative;
      width:50%;
      height:70px;
      margin-left:30px;
  }
  footer .nashemail{
      top:0;
      width:60px;
      font-size: 10px;
      left:0;
  }
  footer .email{
      font-size: 13px;
      top:20px;
      left:0;
  }

  footer .adres_social{
      display: flex;
      width:100%;
      height:70px;
  }

  footer .address{
      width:50%;
      height:70px;
      position: relative;
  }

  footer .social{
      height:50px;
  }
  footer .face{
      margin-top: 0;
      margin-left:30px;
      width:34px;
  }

  footer .telegramma{
      margin-top:0;
      width:34px;
  }

  footer .instagramm{
      margin-top:0;
      width:34px;
  }

  footer .nashadres{
      position: absolute;
      top: 0px;
      left:0;
  }
  footer .adres{
      top:20px;
      left:0;
      font-size: 13px;
  }
    
}