.bottom{
    height:750px;
    width:100%;
    background-color: #efefef;
}

.nedelyu{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    color: #333333;
    padding-top:50px;
    margin-bottom:50px;
}

.phones{
    display:flex;
    height:100%;
    width:100%;
      
}
.phone{
    width:24%;
    height:468px;
    background-color: #fff;
    margin-right:30px;
    position: relative;
}
.left{
    position: absolute;
    margin-top:218px;
    left:-71px;
}
.right{
    position: absolute;
    margin-top:218px;
    right:-71px;
}

.name{
    font-family:'Montserrat Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-top:20px;
    margin-left:20px;
}

.colors{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: rgba(176, 176, 176, 0.99);
    margin-top:6px;
    margin-left:30px;
}

.prices{
    display: flex;
}
.price_1{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #eb4d4d;
    margin-left:20px;
    margin-top:12px;
}

.price_2{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: rgba(196, 196, 196, 0.5);
    margin-left:37.25px;
    margin-top:17px;
}

.buy{
    height:50px;
    width:100%;
    background-color: #eb4d4d;
    border:none;
    position: absolute;
    margin-top:14px;
    a{
        text-decoration: none;
        display: block;
        font-family: 'Montserrat Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 0px 25px #FFFFFF;
    }
}

.line{
    width:100%;
    height:8px;
    background-color: rgba(46,92,212,0.3);
    margin-top:73px;
    position: relative;
}
.inline{
    position: absolute;
    width:120px;
    height:14px;
    margin-left:149px;
    background-color: rgba(46,93,213,0.8);
    top:-3px;
   
}
